body {
    /* display: flexbox; */
    margin: 0;
    background-image: url("https://wallpapercave.com/wp/f1LfK8R.jpg");
    background-repeat: repeat;
    background-size: 250px 150px;
    width: auto;
    height: auto;
    
  }
  
  .navlinks {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: black;
  
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .navlink > a {
    color: white;
    padding: 10px;
    display: inline-block;
  }
  
  .navlink > a:hover {
    background-color: gray;
  }

  .ani {
    width: 100px;
    height: 100px;
    background-size: 100px 110px;
    position: relative;
    background-image: url("https://thumbs.dreamstime.com/b/cartoon-man-snowboarding-snowboard-stick-drawing-illustration-106207072.jpg");
    animation-name: animation;
    animation-duration: 6s;
    animation-iteration-count: infinite;

  }

  @keyframes animation {
    0%   {left:300px; top:0px;}
    25%  {left:0px; top:0px;}
    50%  {left:300px; top:0px;}
    75%  {left:0px; top:0px;}
    100% {left:300px; top:0px;}
  }

  .h1 {
    font-style: italic;
    font-size: 2.0em;
    text-decoration: wavy;
    text-decoration-color: darkgoldenrod;
    text-decoration-line: underline;
  }

  .p1 {
    display: flex;
    margin-left: 500px;
    width: auto;
    height: auto;
    margin-top: 50px;
    margin-right: 50px;
    font-weight: bold;
    color: darkgoldenrod;
    background-color: lightsteelblue;
    float: none;
    border-style: groove;
    border-width: thick;
    padding: 1.0em;
  }

  .side-text {
    display: flex;
    font-weight: bolder;
    color: darkgoldenrod;
    font-size: 1.6em;
    list-style: none;
    float: inline-start;
    background-color: lightsteelblue;
    padding: 0.5em;
  }