body {
    margin: 0;
  }
  
  .navlinks {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: black;
  
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  
  .navlink > a {
    color: blue;
    padding: 10px;
    display: inline-block;
  }
  
  .navlink > a:hover {
    background-color: gray;
  }