body {
    display: flexbox;
    margin: 0;
    background-image: url("https://wallpapercave.com/wp/f1LfK8R.jpg");
    width: auto;
    height: auto;
    
  }
  
  .navlinks {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: black;
  
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .navlink > a {
    color: white;
    padding: 10px;
    display: inline-block;
  }
  
  .navlink > a:hover {
    background-color: gray;
  }